<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="inner_body">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <a class="butt" href="http://househarbour.tk">Go to Househarbour website</a>
    </div>
  </body>
</html>
